body {
  background-image: url(http://p1.pichost.me/i/12/1352330.jpg);
  background-size: cover;
}

.home {
  background: rgba(0,0,0,0.5);
  border: rgba(0,0,0,0.5) 2px;
  border-radius: 3px;
  color: rgba(255,255,235,0.9);
}

.jumbotron {
  background: rgba(0,0,0,0.5);
}